// README
// This is only a .env example
// Do not change this file!
// Use cp or mv (like this: cp env.example .env), then edit .env with your Firebase Keys.
// IMPORTANT: Don't forget to add to update your .gitignore with .env (to avoid public share your key!)

NEXT_PUBLIC_FIREBASE_API_KEY = 
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN = 
NEXT_PUBLIC_FIREBASE_PROJECT_ID = 
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET = 
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID = 
NEXT_PUBLIC_FIREBASE_APP_ID = 
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID = 